body{
    margin: 0;
    padding: 0;
    
    background-image: linear-gradient(to top, pink, skyblue);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

.container{

    position: relative;
    padding-top: 20px;

    margin: auto;

    width: min-content;

    display: flex;
}

.container > img{
    display: block;

    width: clamp(10rem ,18vw, 20rem);
}

.container > iframe{
    position: absolute;
    
    top: 52%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 88%;
    height: 73%;
}

.links{
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 10px;
    right: 10px;
}

.links a{
    padding: 9px;
}

.links img{
    width: 50px;

    border-radius: 50%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.263);
    box-sizing: border-box;
}

.links img:hover{
    border: 2px solid rgba(255, 255, 255, 0.612);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.607);
}