body{
    margin: 0;
    padding: 0;
    
    background-image: linear-gradient(to top, pink, skyblue);
}

.container{

    position: relative;
    padding-top: 20px;

    margin: auto;

    width: min-content;

    display: flex;
}

.container > img{
    display: block;

}

.container > iframe{
    position: absolute;
    
    top: 52%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 88%;
    height: 73%;
}

.links{
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 10px;
    right: 10px;
}

.links a{
    padding: 9px;
}

.links img{
    width: 50px;

    border-radius: 50%;
}