@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@700&display=swap');

/*Mobile First*/
*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root{
    --main-font: 'Lexend Mega', sans-serif;
}


body{
    background-color: rgb(98, 65, 189);
    color: white;
}

.cabecalho{
    position: relative;

    font-family: var(--main-font);
    
    background-image: url('../images/imagem-tablet.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    
    height: 292px;

}

.gradient{
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(180deg, rgba(83,0,171,1) 10%, rgba(93,9,121,0.8939950980392157) 64%, rgba(255,0,129,0.26934523809523814) 100%);

    display: grid;
    place-items: center;
}

.cabecalho-container{
   display: grid;
   place-items: center;
}

.cabecalho h1{
    font-size: 2.5rem;
}

.hamburguinho{
    display: flex;

    justify-content: center;
    align-items: center;
}

.hamburguinho img{
    display: block;

    padding: 1rem;
    width: 2.4rem;
    height: auto;

    box-sizing: content-box;
}

.hamburguinho img:hover{
    cursor: pointer;
    filter: invert(1);
}

.container-nav{
    display: none;
}

.nav{
    display: grid;
    margin-inline: 4rem;
    gap: 3px;

    width: 90vw;
}

.nav a{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    text-align: center;

    background-color: white;

    height: 5em;
    padding: 2em;

    border-radius: 10px;
}

.nav a:hover{
    background-color: rgb(164, 141, 233);
}

.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ section{
    display: block;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    border-radius: 10px;

    margin: auto;
    margin-top: 2em;

    width: 90vw;

    background: white;
    color: black;
}

article > p{
    padding: 2em;
}

@media screen and (min-width: 768px) {
    .cabecalho{
        background-image: url('../images/pexels-junior-teixeira-2047905.jpg');
        background-position: center center;
        background-size: cover;
    }

    .nav-toggle-label{
        display: none;
    }

    .container-nav{
        display: block;

        padding-top: 1rem;
    }

    .nav{
        display: grid;

        grid-template-columns: repeat(3, 1fr);
    }

    .grid-col-span-2{
        grid-column: span 2;
    }
}