@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5F2C82;  

    height: 100vh;
    
    display: grid;
    place-items: center;
}

.img{
    width: 60vw;
    height: 200px;

    overflow: hidden;

    border-radius: 20px 20px 0 0;
}

.img img{
    display: block;

    width: 100%;
}

.container{
    background-color: white;

    width: 60vw;

    border-radius: 20px 20px 20px 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
}

.container-principal{
    padding: 20px 10px 20px 10px;
}

.container h1{
    text-align: center;
}

.container-principal h1{
    font-size: 1.8rem;

    padding-bottom: 1rem;
}

.container-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #5F2C82;

    margin-block: .5rem;
    padding-top: 5px;

    text-align: left;
    align-items: center;

    border-radius: 10px;
}

.container-inputs label{
    padding-left: .5rem;
}

.container-inputs input{
    width: 50vw;

    padding-left: 5px;
    padding-block: .8rem;

    margin-right: 4px;
    margin-bottom: 1.3px;

    border-radius: 7px;
    border-style: none;

    background-color: rgb(159, 215, 196);
}

.container-inputs > label > img{
    width: 80%;

    filter: invert(1);
}

.container-buttons{
    display: flex;
    flex-direction: column;

    gap: .4rem;
}

.container-buttons input {
    font-size: 1rem;

    background-color: rgb(78, 156, 130);
    color: white;

    border-style: none;

    padding: 0.8rem;

    border-radius: 10px;
    
    height: 3rem;
}

.container-buttons > .cartinha{
    background-color: white;
    color: rgb(78, 156, 130);
    border: 1.5px solid rgb(78, 156, 130);
    
    border-radius: 10px;
}

.cartinha{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

}

.cartinha *{
    padding: 0;
}

.cartinha > a{
    position: relative; 

    display: block; 

    text-decoration: none;
    text-align: center; 
    width: 100%; 
    color: rgb(78, 156, 130);

    padding: 0.8rem;

    border-radius: 10px;
    
    height: 3rem;
}

.cartinha img{
    width: 16px;

    position: absolute;
    left: calc(50% + 65px);

    margin-bottom: 11px;
}
