@media screen and (min-width:770px) {
    body{
        background-image: linear-gradient(to top, rgb(82, 179, 150), #5e1596);
    }

    .container{
        display: flex;
        flex-direction: row;

        width: min(70vw, 600px);
    }

    .container-principal{
        width:  100%;
    }

    .img{
        background-color: blue;

        width: 60%;
        height: auto;
    }

    .img img{
        height: 100%;

        object-fit: cover;
    }
}


@media screen and (min-width: 980px) {
    body{
        background-image: linear-gradient(to top, rgb(82, 179, 150), #5e1596);
    }

    .container{
        display: flex;
        flex-direction: row-reverse;

        width: min(80vw, 1000px);
    }

    .img{
        background-color: blue;

        width: 60%;
        height: auto;
    }

    .img img{
        height: 100%;

        object-fit: cover;
    }
}