@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5F2C82;  

    height: 100vh;
    
    display: grid;
    place-items: center;
}

.img{
    width: 20rem;
    height: 200px;

    overflow: hidden;
}

.img img{
    display: block;

    width: 100%;
}

.container{
    background-color: white;

    width: 20rem;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
}

.container-principal{
    padding: 20px 10px 20px 10px;
}

.container-principal h1{
    font-size: 1.8rem;

    text-align: center;

    padding-bottom: 1rem;
}

.container-principal p{
    padding-bottom: 1rem;
}

.container-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #5F2C82;

    margin-block: .4rem;

    text-align: left;
    align-items: center;

    border-radius: 10px;
}

.container-inputs label{
    padding: .1rem 0 .1rem .5rem;
}

.container-inputs input{
    font-size: 1em;

    width: 90%;

    padding-left: 5px;
    padding-block: .6rem;

    margin-right: 4px;

    border-radius: 7px;
    border-style: none;

    background-color: rgb(178, 232, 232);
}

.container-inputs input:focus{
    background-color: white;
}

.container-inputs > label > img{
    width: 80%;

    filter: invert(1);
}

.container-buttons{
    display: flex;
    flex-direction: column;

    gap: .3rem;
}

.container-buttons input {
    font-size: 1rem;

    background-color: rgb(91, 171, 171);
    color: white;

    border-style: none;

    padding: 0.8rem;

    border-radius: 5px;
    
    height: 2.6rem;
}

.container-buttons input:hover{
    cursor: pointer;
    background-color: rgb(57, 128, 128);
}

.container-buttons > .cartinha{
    background-color: white;
    color: rgb(78, 156, 130);
    border: 1.5px solid rgb(91, 171, 171);
    
    border-radius: 5px;
}

.cartinha{
    position: relative; 

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.cartinha *{
    padding: 0;
}

.cartinha > a{
    display: block; 

    text-decoration: none;
    text-align: center; 
    width: 100%; 
    color: rgb(91, 171, 171);

    padding: .8rem;
    
    height: 2.6rem;
}

.cartinha > a:hover{
    background-color: rgb(175, 224, 224);
}

.cartinha img{
    width: 16px;

    position: absolute;
    left: calc(50% + 65px);

    margin-bottom: 11px;
}
